#show-more{
    padding: 5px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#show-less{
    display: none;
}
#main{
    padding: 5px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
#text {
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}