.main {
    display:inline-flex;
    flex-direction: column;
    margin: 20px;
    border:1px solid black;
    background-color: darkcyan;
}
span{
    margin:10px;
}
input{
    margin-top: 10px;
}
.output{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    margin-top: 10px;
}
