.inside {
    width:200px;
    height:200px;
    background-color: blue;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
p {
    display: none;
    position: absolute;
    color: aliceblue;
}
