div {
    display:inline-flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: cornflowerblue;
    color: black;
    height: 300px;
}
ul {
    list-style: none;
}
input {
    margin-bottom: 20px;
}
